server:
  port: 8081
  http2:
    enabled: true
  ssl:
    key-store-type: PKCS12
    key-store: C:\Users\akshi\Documents\Java Projects\Drive-S3\certs\localhost.p12
    key-store-password: changeit
    key-alias: localhost
auth-service:
  uri: https://localhost:8080
  admin-access-token: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhcGktc2VydmljZSIsImlhdCI6MTcwOTQ2OTU5MywiZXhwIjoyMDI0ODI5NTkzfQ.bUsVvykvx7VFGhD352gFUBb7RwkV2vPXJMxTnFlKofk
spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/drive-s3
    username: root
    password: root
  main:
    allow-circular-references: true
s3:
  bucket-name: akshit-drive-demo
temp-file-storage: C:\Users\akshi\.api-service