server:
  port: 8081
auth-service:
  uri: http://localhost:8080
spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/drive-s3
    username: root
    password: root
s3:
  bucket-name: akshit-drive-demo
temp-file-storage: C:\Users\Akshit\.api-service